.App {
  text-align: center;
}


*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}

body{
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: black;
  background-color: white;
  z-index: -1;
  height: 100vh;
  width: 100%;
  background: beige;
}

li,
ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

img{
  max-height: 100%;
  max-width: 100%;
}